vcpkg_installed
bin
build
repomix.config.json
repomix-output.txt
logs
.vscode
result
iotools
*.pkl
*.pyc
.clangd
test_case/test_benchmark_report.txt
test_case/test_report.txt
.venv
/.codebuddy/agents
/.codebuddy
/extern/fea_codegen/hex8r_gen
/case
*.odb
*.symtest
tools
*.odb_f
